<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand btn btn-primary" href="{% url 'home'%}" style="background-color: blue;">Home</a>
      </nav>
    </div>
    <div class="container text-center">
      <p>This web app helps you to generate a random password for any kind of authentication! </p>
    </div>
  </body>
</html>
